ImgurClient/Service References/ImgurServise/ImgurService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImgurService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8585/ImgurService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8585/ImgurService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8585/ImgurService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImgurService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IImgurService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IImgurService_GetTopImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopImages" />
  </wsdl:message>
  <wsdl:message name="IImgurService_GetTopImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IImgurService_GetAlbumById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumById" />
  </wsdl:message>
  <wsdl:message name="IImgurService_GetAlbumById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IImgurService_GetAllAlbums_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAlbums" />
  </wsdl:message>
  <wsdl:message name="IImgurService_GetAllAlbums_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAlbumsResponse" />
  </wsdl:message>
  <wsdl:message name="IImgurService_GetAllImagesFromAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllImagesFromAlbum" />
  </wsdl:message>
  <wsdl:message name="IImgurService_GetAllImagesFromAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllImagesFromAlbumResponse" />
  </wsdl:message>
  <wsdl:portType name="IImgurService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IImgurService/DoWork" message="tns:IImgurService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImgurService/DoWorkResponse" message="tns:IImgurService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IImgurService/GetTopImages" message="tns:IImgurService_GetTopImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImgurService/GetTopImagesResponse" message="tns:IImgurService_GetTopImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumById">
      <wsdl:input wsaw:Action="http://tempuri.org/IImgurService/GetAlbumById" message="tns:IImgurService_GetAlbumById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImgurService/GetAlbumByIdResponse" message="tns:IImgurService_GetAlbumById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAlbums">
      <wsdl:input wsaw:Action="http://tempuri.org/IImgurService/GetAllAlbums" message="tns:IImgurService_GetAllAlbums_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImgurService/GetAllAlbumsResponse" message="tns:IImgurService_GetAllAlbums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllImagesFromAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/IImgurService/GetAllImagesFromAlbum" message="tns:IImgurService_GetAllImagesFromAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImgurService/GetAllImagesFromAlbumResponse" message="tns:IImgurService_GetAllImagesFromAlbum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImgurService" type="tns:IImgurService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IImgurService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopImages">
      <soap:operation soapAction="http://tempuri.org/IImgurService/GetTopImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumById">
      <soap:operation soapAction="http://tempuri.org/IImgurService/GetAlbumById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAlbums">
      <soap:operation soapAction="http://tempuri.org/IImgurService/GetAllAlbums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllImagesFromAlbum">
      <soap:operation soapAction="http://tempuri.org/IImgurService/GetAllImagesFromAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImgurService">
    <wsdl:port name="BasicHttpBinding_IImgurService" binding="tns:BasicHttpBinding_IImgurService">
      <soap:address location="http://localhost:8585/ImgurService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>